body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    text-align: center;
    margin-bottom: 10px;
    border-top: 1px solid #333;
   -webkit-box-shadow: 0 8px 6px -6px #333;
   -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;     
}

nav {
    background-color: white;
    padding: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    transition: color 0.3s;
}

input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    padding: 7px;
  }

  input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    background-color: white;  

}
.product-container span{
    margin-bottom: 20px;

}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}
.product-image:hover {
    transform: scale(1.05);
}

.add-to-cart-btn {
    background-color: #e44d26;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 13px;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    font-size: 12px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    padding: 0 20px;

}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width: 600px) {
    .product-container {
        padding: 10px;
    }

    .product-info {
        padding: 10px;
    }

    .product-name {
        font-size: 20px;
    }

    .product-description,
    .product-price {
        font-size: 14px;
    }

    .add-to-cart-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}
